@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    text-decoration: none;
}
:root{
    --bg-color: #9b6942 ;
    --second-bg-color: white 0%;
    --text-color: #fff;
    --main-color: #80471C ;
 
}

html{
    font-size: 62.5%;
}
body{
    width: 100%;
}
.content{
    height: 100vh;
    background: linear-gradient(
        to right,
        white 0%,
         white 50%,
         #b88b68 50%,
         #b88b68  100%
    );
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    cursor: default;
    
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #583215 ;
    font-size: 2.3rem;
    margin-right: 13%;
    font-family: monospace;
    
    
}
span{
    color: #b8601e ;
    font-family: "Trirong" serif;
    
}
.home-content h3{
    font-size: 25px;
    font-weight: 700;
    color: #80471C ;
    font-family: "Trirong" serif;

}
.home-img img{
    width: 30vw;
    border-radius: 50%;
    margin-left: 10%;
    border: 15px dashed white;
    
}
.home-content p{
    font-family: Rubik, sans-serif;
    width: 85%;

}
.home-content{
    margin-left: 2%;
    margin-top: 9%;
}
.gisey{
    width: 30%;
    margin-top: -100%;
}
.home-content gisey img{
    margin-top: -700%;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem;
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #b88b68;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #000;
    font-family: monospace;

}
.about-img img{
    width: 30vw;
    border-radius: 50%;
    margin-left: 20%;
    border: 15px dashed white;

}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.content1{
    height: 100vh;
    background: linear-gradient(
        to right,
        #b88b68  0%,
        #b88b68 50%,
        white 50%,
        white 100%
    );
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    margin-left: 30%;
}
.about-content h3{
    font-size: 2.6rem;
    margin-left: 30%;
    color: #000 ;
}
.about-content p{
    font-size: 2.0rem;
    margin: 2rem 0 3rem;
    margin-left: 30%;
    color: #b8601e ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.projects h2{
    margin-bottom: 5rem ;
}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: rgb(26, 26, 15);
}
.projects-container .projects-box{
    flex: 1 1 30rem;
    background: white;
    padding: 3rem 2rem 4rem;
    border-radius: 20%;
    text-align: center;
    border: 0.5rem dashed #80471C;
    transition: 5s ease;
}
.projects-container .projects-box:hover{
    border-color: #ceae96;
    transform: scale(1.02);

}
.projects-box i{
    font-size: 7rem;
    color: #80471C;
}
.projects-box h3{
    font-size: 2.6rem;
}
.projects-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.content2{
    background-color: #cfab8f;
}
.projects-box h2{
    color: white;
    font-size: 70px;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    margin: 1 rem auto;
    text-align: center;
    max-width: 70rem;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.contact form .input-box input,.contact form textarea{
    width: 100%;
    font-size: 1.6rem;
    padding: 1.5rem;
    background:white;
    border-radius: 3rem;
    margin: .9rem 0;
    color: black;
}
.contact form .input-box input{
    width: 49%;
}
.content3{
    height: 100vh;
    background: linear-gradient(
        to right,
        #b88b68  0%,
        #b88b68 50%,
        white 50%,
        white 100%
    );
}




.port-text {
    padding: 2rem 0;
    text-align: center;
  }
  
  .portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
  }
  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
  }
  .portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
  }
  .portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items h3 {
    font-size: 4.5rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
  }
  .portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolios .portfolio-item .hover-items .icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 4.5rem;
    color: var(--color-white);
    margin: 0 1rem;
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: var(--color-white);
  }
  .portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: var(--color-primary);
  }
  
  .portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
  }
  